
<div class="padding-global">
  <div class="padding-section-medium">
    <div class="views_flex-wrapper">
      <div class="views_text-wrapper">
        <div class="text-size-small text-style-allcaps">Explore</div>
        <div class="padding-bottom padding-tiny"></div>
        <h1 class="heading-style-h2 is-views">LARTEDELSENTIRE</h1>
        <div class="text-size-tiny text-style-allcaps">↓</div>
      </div>
      <div class="w-layout-grid index-grid">
        <div id="w-node-ed706b50-b165-d5a0-8279-ca5a9ecc9929-07a81a08" class="div-block-10">
          <div class="text-block-7">Roy Lichenstein<br>‍<em>Whaam! <br>‍</em>1963 oil paint on canvas<br>68 x 160 inches</div>
          <img src="{{ 'pexels-hakeem-james-hausley-4516068.jpg' | asset_url }}" loading="lazy" width="406" sizes="(max-width: 479px) 95vw, (max-width: 767px) 97vw, (max-width: 991px) 87vw, 92vw"  alt="" class="views_image">
        </div>
        <div id="w-node-_1b0425fa-7d74-7a59-70db-496f299fcd4a-07a81a08" class="div-block-10">
          <div id="w-node-_90033571-bf33-9b36-3370-c29dece0cd25-07a81a08" class="text-block-3">Roy Lichenstein<br>‍<em>Whaam! <br>‍</em>1963 oil paint on canvas<br>68 x 160 inches</div>
          <img src="{{ 'IMG_0670.jpg' | asset_url }}" loading="lazy" id="w-node-cee3fa5e-f6b6-5713-e6d1-a6c6ed017ff0-07a81a08" sizes="(max-width: 479px) 95vw, (max-width: 767px) 97vw, (max-width: 991px) 87vw, 92vw" alt="" class="views_image">
        </div>
        <div id="w-node-_038fcbbc-1ad2-da39-cc43-4536aea45e4f-07a81a08" class="div-block-10">
          <div class="text-block-6">Roy Lichenstein<br>‍<em>Whaam! <br>2021</em> oil paint on canvas<br>68 x 160 inches</div>
          <img src="{{ '3411685499392_.png' | asset_url }}" loading="lazy" id="w-node-_8d305899-69aa-c9d0-4ab9-2fc41ba01bd0-07a81a08" sizes="(max-width: 479px) 95vw, (max-width: 767px) 97vw, (max-width: 991px) 87vw, 92vw" alt="" class="views_image">
        </div>
        <div id="w-node-_90033571-bf33-9b36-3370-c29dece0cd23-07a81a08" class="div-block-10">
          <div class="text-block-4">Roy Lichenstein<br>‍<em>Whaam! <br>‍</em>1963 oil paint on canvas<br>68 x 160 inches</div>
          <img src="{{ 'lds_web_perfume_image-1.jpg' | asset_url }}" loading="lazy" id="w-node-_7896630b-d2f9-48e7-dc17-c0a71d35fe77-07a81a08" sizes="(max-width: 479px) 95vw, (max-width: 767px) 97vw, (max-width: 991px) 87vw, 92vw" alt="" class="views_image">
        </div>
        <div id="w-node-_0885f2f3-c7d1-dbb6-dc53-74b900a03010-07a81a08" class="div-block-10">
          <div class="text-block-5">Roy Lichenstein<br>‍<em>Whaam! <br>‍</em>2003 oil paint<br>68 x 160 inches</div>
          <img src="{{ 'IMG_0658.jpg' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 95vw, (max-width: 767px) 97vw, (max-width: 991px) 87vw, 92vw" alt="" class="views_image">
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Home Page Content",
    "settings": [],
    "tag": "section",
    "class": "section_views"
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}